.button {
  display: inline-block;
  height: 50px;
  padding-inline: 15px;
  color: var(--color-light);
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-accent);

  @include hover {
    background-color: var(--color-light);
    color: var(--color-dark);
  }

  &--small {
    height: 32px;
    padding-inline: 13px;
    font-size: 15px;
  }

  &--alt {
    display: flex;
    align-items: center;
    padding: 17px 44px;
    border-radius: var(--border-radius-large) var(--border-radius-large) 0
      var(--border-radius-large);
  }

  &--alt-small {
    padding: 4px 27px;
    width: 79px;
    height: 33px;
    border-radius: var(--border-radius-large) var(--border-radius-large) 0
      var(--border-radius-large);
  }
}
