.cross-button {
  @include reset-button;
  @include square(50);

  top: 6px;
  right: -5px;

  position: relative;
  border-radius: var(--border-radius-small);

  @include hover {
    background-color: var(--color-accent);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 7px;
    width: 70%;
    height: 3px;
    background-color: var(--color-dark);
    border-radius: 5px;
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }
}
