.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 210px;

  background-color: var(--color-light);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-dark);

  &__rating {
    display: inline-flex;
    flex-direction: row-reverse;

    &-item {
      color: #e5e5e5;
      font-size: 30px;
      cursor: pointer;

      &:hover,
      &:hover ~ & {
        color: gold;
      }
    }
  }

  &__name {
    @include fluid-text(13, 15);

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__price {
    @include fluid-text(13, 15);
    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__button {
    margin-bottom: 10px;
  }
}
